/* /assets/css/custom.css */

.page__content p,
.page__content li {
  text-align: justify !important;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}


/* Hide the default footer sections */
.page__footer .page__footer-follow,
.page__footer .page__footer-copyright {
  display: none !important;
}